body {
background-color: rgb(26, 106, 224);
}
.App {
  border: 1px  solid #fff;
  margin: 100px  30%;
  padding: 80px;
  text-align: center;
  border-radius: 25px;
}
.App h2 {
  color: #fff;
}
.App ul {
  list-style: "🆗";
  cursor: pointer;
  font-size: 22px ;
  color: #fff;
  margin: 20px;
}
.App input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;
}
.App button {
  display: block;
  margin: auto;
  width: 160px;
  height: 40px;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  border: 0;
}
.App ul li {
  overflow-wrap: break-word;
}

.diffstyle {
  list-style: "✅";
  text-decoration: line-through;
 
}
.div10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}








